html {
    font-family: 'Nunito';
}

:root {
    --preto: #130F0D;
    --branco: #FFF;

    --maromTrans: #FD951F11;
    --pretoTrans: #141316;
    --laranja: #FD951FCC;

    --statusGreen: #23D2AC;
    --statusBlue: #33ADFF;
    --statusRed: #b91a0e;

    --destaque: #FD951F08;
    --acima: #4C4C4C4C;

    --card: #1A1A1C;
}

body {
    background-color: var(--preto);
    color: var(--branco);
}

.boards {
    display: flex; /* justify-content: space-between; */

    margin-top: 32px;
}

.board {
    background-color: var(--pretoTrans);
    border: 1px solid var(--maromTrans);
    border-radius: 4px;

    margin: 0 16px;
}

.board h3 {
    padding: 16px;
    margin: 0;
    color: var(--laranja);
}

.dropzone{
    padding: 16px;
    min-width: 282px;
    min-height: 200px;
}

.card {
    background: var(--card);
    padding: 16px;
    box-shadow: 0 2px 2px -1px var(--laranja);
    width: 250px;
    margin: 25px 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
}

.status {
    width: 30px;
    height: 8px;
    background: gray;
    margin-bottom: 16px;
    border-radius: 8px;
}

.status.green{
    background-color: var(--statusGreen);
}

.status.blue{
    background-color: var(--statusBlue);
}

.status.red{
    background-color: var(--statusRed);
}

.highlight {
    background-color: var(--destaque);
}

.card, .dropzone {
    transition: 400ms;
}

.is-dragging {
    cursor: move;
}

.over {
    background-color: var(--acima);
}